.logo {
    background-color: #21273d;
    min-height: 100px;
    min-width: 300px;
    background-image: url(../../../../images/twitter_header_photo_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}